
*.xml

*.iml

*.class

*.sql

target/classes/static/style.css

target/classes/templates/home.html

*.lst

target/maven-archiver/pom.properties

target/contacts-0.1.0.jar.original

target/contacts-0.1.0.jar
